In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/drive/MyDrive/Dataset/trainingdata3000.xlsx - trainingdata3000.csv")
df.head()

         B2        B3        B4        B5        B6        B7  Building
0  0.126440  0.104303  0.100029  0.149693  0.262067  0.238303         1
1  0.131926  0.113298  0.117636  0.171479  0.137668  0.111991         1
2  0.102677  0.071354  0.052981  0.122612  0.073172  0.039552         1
3  0.124494  0.102549  0.096808  0.163887  0.258239  0.230520         1
4  0.131703  0.111417  0.111959  0.163026  0.265926  0.238718         1

In [ ]:
x=df.iloc[:,0:6].values
x

array([[0.1264401 , 0.1043035 , 0.10002929, 0.14969307, 0.26206654,
        0.23830321],
       [0.13192639, 0.11329848, 0.11763649, 0.1714788 , 0.13766786,
        0.1119907 ],
       [0.10267675, 0.0713538 , 0.05298108, 0.12261244, 0.07317194,
        0.03955239],
       ...,
       [0.09741373, 0.06774943, 0.04513439, 0.05247072, 0.02041414,
        0.01033465],
       [0.09696717, 0.06612268, 0.0439223 , 0.05192847, 0.02698494,
        0.01365195],
       [0.11470196, 0.09199122, 0.08411264, 0.1494379 , 0.13470145,
        0.09948704]])

In [ ]:
y=df.iloc[:,6]
y

0       1
1       1
2       1
3       1
4       1
       ..
2995    0
2996    0
2997    0
2998    0
2999    0
Name: Building, Length: 3000, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier_knn= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)
classifier_knn.fit(x_train,y_train)

KNeighborsClassifier()

In [ ]:
y_pred =classifier_knn.predict(x_test)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       396
           1       0.98      0.99      0.98       204

    accuracy                           0.99       600
   macro avg       0.98      0.99      0.99       600
weighted avg       0.99      0.99      0.99       600

In [ ]:
# import matplotlib.pyplot as plt
# from sklearn.preprocessing import MinMaxScaler,StandardScaler
# import seaborn as sns
# from sklearn.svm import SVC
# from sklearn.cluster import KMeans
# import numpy as np

In [ ]:
# from sklearn.preprocessing import LabelEncoder
# labelencoder_y= LabelEncoder()
# y= labelencoder_y.fit_transform(y)
# y

array([1, 1, 1, ..., 0, 0, 0])